// Begin Jade template.
extends layout
- schedule = typeof(schedule) != 'undefined' ? schedule : { }

//-CSS is inserted in the HEAD tag.
block css
link(rel='stylesheet',href='/css/mycss.css') 
//-JavaScript will be inserted at the end of the BODY tag.
block js
  script(src='/js/schedule.js')
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Courses Summary of Class Addition
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12  
        h3 Adding Course for #{schedule.session} 
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          b Code
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b TYPES
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b DAYS
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b TIME
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b UNITS
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b LOC
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          b INST
        
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          p #{schedule.course.subject.code}-#{schedule.course.code}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p SEM
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{getDays(schedule.daily)}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{schedule.start_time.getHours()} 
              if schedule.start_time.getMinutes() != 0
              | : #{schedule.start_time.getMinutes()}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{schedule.course.units}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{schedule.location}
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          p #{schedule.instructor.first} #{schedule.instructor.last}
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        form(action='/student/add/complete', method='POST')
          input.form-control(type='hidden', value=user.id, name='id')
          input.form-control(type='hidden', value=schedule.session, name='sessioncode')
          input.form-control(type='hidden', value=schedule.course.id, name='courseid')
          input.form-control(type='hidden', value=schedule.course.subject.code + '-' + schedule.course.code, name='coursecode')
          input.form-control(type='hidden', value=schedule.course.name, name='coursename')
          input.form-control(type='hidden', value=schedule.instructor.first, name='instructorfirst')
          input.form-control(type='hidden', value=schedule.instructor.last, name='instructorlast')
          input.form-control(type='hidden', value=schedule.id, name='scheduleid')
          input.form-control(type='hidden', value=schedule.daily.sun, name='sun')
          input.form-control(type='hidden', value=schedule.daily.mon, name='mon')
          input.form-control(type='hidden', value=schedule.daily.tue, name='tue')
          input.form-control(type='hidden', value=schedule.daily.wed, name='wed')
          input.form-control(type='hidden', value=schedule.daily.thur, name='thur')
          input.form-control(type='hidden', value=schedule.daily.fri, name='fri')
          input.form-control(type='hidden', value=schedule.daily.sat, name='sat')
          input.form-control(type='hidden', value=schedule.start_time, name='start_time')
          input.form-control(type='hidden', value=schedule.min_length, name='min_length')
          input.form-control(type='hidden', value=schedule.location, name='location')
          button.btn.btn-lg.btn-primary.pull-left(type='submit', style='margin:20px;') Confirm  
          button.btn.btn-lg.pull-left.btn-default(type='button', style='margin:20px;') Cancel  
          
// End Jade Template