// Begin Jade template.
extends layout
- catalog = typeof(catalog) != 'undefined' ? catalog : { }

//-CSS is inserted in the HEAD tag.
block css
link(rel='stylesheet',href='/css/mycss.css')

  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  script(src='/js/catalog.js')  
  
//-HTML content to display.
block content
  script(src='/js/catalog.js')
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 #{title}
        p Click the expand button in order to expand the listing of the courses.
     // start grid for images 
     br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
    br
    // show schedule 
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h3 #{catalog.description}
        h4 #{monthNames[catalog.start.getMonth()]}  #{catalog.start.getFullYear()} - #{monthNames[catalog.stop.getMonth()]} #{catalog.stop.getFullYear()}
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        #accordion.panel-group
          form(role='form', method='POST', action='/student/add', name='catalog')
            input(type='hidden', value='', name='grab')
            for n in catalog.subjects
              .panel.panel-default
                .panel-heading
                  h2.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#" + n.code)
                      h5 (#{n.code}) #{n.name}
                .panel-collapse.collapse(id=n.code)
                  .panel-body
                    .col-xs-2.col-sm-2.col-md-2.col-lg-2
                      b CODE
                    .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      b TYPES
                    .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      b DAYS
                    .col-xs-2.col-sm-2.col-md-2.col-lg-2
                      b TIME
                    .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      b OPEN SEATS
                    .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      b LOC
                    .col-xs-2.col-sm-2.col-md-2.col-lg-2
                      b INST
                    if user.type == 'student'
                      .col-xs-1.col-sm-1.col-md-1.col-lg-1
                        b Add
                    if user.type == 'student'
                      .col-xs-2.col-sm-2.col-md-2.col-lg-2
                        b 
                    else
                      .col-xs-1.col-sm-1.col-md-1.col-lg-1
                        b 
                    .row
                      for j in catalog.schedule
                        if j.course.subject.code == n.code
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .col-xs-2.col-sm-2.col-md-2.col-lg-2
                              p #{j.course.subject.code}-#{j.course.code}
                            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                              p SEM
                            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                              p #{getDays(j.daily)}
                            .col-xs-2.col-sm-2.col-md-2.col-lg-2
                              +timeFrame(j.start_time, j.min_length)
                            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                              p #{j.seats}
                            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                              p #{j.location}
                            .col-xs-2.col-sm-2.col-md-2.col-lg-2
                              p #{j.instructor.first.charAt(0)}. #{j.instructor.last}
                            if user.type == 'student'
                              .col-xs-1.col-sm-1.col-md-1.col-lg-1
                                button.dropBtn.btn.btn-xs.btn-primary(type='button', value=j.id) Add
                            if user.type == 'student'
                              .col-xs-2.col-sm-2.col-md-2.col-lg-2
                                p #{j.course.requirements}
                            else
                              .col-xs-1.col-sm-1.col-md-1.col-lg-1
                                p #{j.course.requirements}

// End Jade Template