// Begin Jade template.
extends layout
- schedule = typeof(schedule) != 'undefined' ? schedule : { }

//-CSS is inserted in the HEAD tag.
block css
  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Teacher navigation set.
block navTeacher
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Drop Summary
          if user.type == 'admin'
            | for Student #{schedule.user}
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12  
        h3 #{schedule.session.code} Drop Detail 
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          b Code
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b Days
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          b Time
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b Units
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          b Location
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          b Instructor
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          p #{schedule.course.code}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{getDays(schedule.schedule.daily)}
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          +timeFrame(schedule.schedule.start_time, schedule.schedule.min_length)
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{schedule.course.units}
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
          p #{schedule.schedule.location}
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          p #{schedule.course.instructor.first} #{schedule.course.instructor.last}
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        form(action='/student/drop/complete', method='POST')
          input.form-control(type='hidden', value=schedule.id, name='id')
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h5 Reason for dropping?
            input.form-control(type='textarea', name='reason')
          br
          button.btn.btn-lg.btn-primary.pull-left(type='submit', style='margin:20px;') Confirm  
          button.btn.btn-lg.pull-left.btn-default(type='button', style='margin:20px;', onClick="history.go(-1)") Cancel  